<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Bouton retour -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/car-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="onSubmit()" #carForm="ngForm" class="car-creation-container">
    
    <ion-item lines="none">
      <ion-label position="stacked">Marque</ion-label>
      <ion-input
        type="text"
        required
        [(ngModel)]="carData.brand"
        name="brand"
        #brand="ngModel"
        placeholder="Exemple : Toyota"
        helperText="Entrez la marque de la voiture"
        errorText="La marque est obligatoire."
      ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Modèle</ion-label>
      <ion-input
        type="text"
        required
        [(ngModel)]="carData.model"
        name="model"
        #model="ngModel"
        placeholder="Exemple : Corolla"
        helperText="Entrez le modèle de la voiture"
        errorText="Le modèle est obligatoire."
      ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Plaque d'immatriculation</ion-label>
      <ion-input
        type="text"
        required
        [(ngModel)]="carData.licensePlate"
        name="licensePlate"
        #licensePlate="ngModel"
        placeholder="Exemple : ABC-1234"
        helperText="Entrez la plaque d'immatriculation (lettres, chiffres et tirets)"
        errorText="La plaque d'immatriculation est obligatoire et doit contenir uniquement des lettres, chiffres et tirets."
      ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Photo avant</ion-label>
      <input type="file" accept="image/*" (change)="onFileSelected($event, 'front')" style="display: block;" />
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Photo arrière</ion-label>
      <input type="file" accept="image/*" (change)="onFileSelected($event, 'back')" style="display: block;" />
    </ion-item>

    <ion-button expand="block" type="submit" shape="round" class="custom-blue" [disabled]="!carForm.form.valid">
      Enregistrer
    </ion-button>
  </form>
</ion-content>
