/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';
/* login.page.scss */
ion-button.custom-blue {
    --background: #0095f6; 
    --border-radius: 50px; 
    --color: white;
  }  

  .custom-toast {
    font-size: 16px; 
    border-radius: 20px;
  }


  ion-fab-button {
    --background: #0095f6;
    --background-activated: #0095f6;
    --background-hover: #0095f6;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --color: white;
  }

  .app-logo {
    height: 100px; /* Ajuste la taille du logo */
    width: auto;  /* Garde les proportions du logo */
    margin-left: 10px; /* Éventuellement ajouter un espacement à gauche */
  }
  
  .page-title {
    text-align: center; /* Centrer le titre */
    margin-left: 20px; /* Légèrement décaler à droite pour plus d'espace */
  }
  
ion-toolbar {
  --border-width: 0;
  --border-color: transparent;
  --border-style: none;
}

ion-progress-bar {
  --background: #e0e0e0;
  --progress-background: #3b82f6; /* Couleur bleue pour la barre de progression */
  height: 4px; /* Hauteur de la barre */
}

ion-app {
  background-color: #f8f8f8; /* Coule de fond de l'application */ 
}
